Neunity/Neunity/bin
Neunity/Neunity/obj
Neunity/.vs
Material


# =========================================== #
# Unity Visual Studio / MonoDevelop generated #
# =========================================== #
Samples/SampleUnity/Library/
Samples/SampleUnity/obj/
Samples/SampleUnity/Temp/
*.svd
*.userprefs
/*.csproj
*.csproj
*.pidb
*.suo
/*.sln
*.sln
*.user
*.unityproj
*.booproj
*.~lock*
