Neunity/Neunity/bin
Neunity/Neunity/obj
Neunity/.vs
Material
Samples/CustomSample/.vs
Samples/CustomSample/bin
Samples/CustomSample/obj


# =========================================== #
# Unity Visual Studio / MonoDevelop generated #
# =========================================== #
Samples/SampleUnity/Library/
Samples/SampleUnity/obj/
Samples/SampleUnity/Temp/
*.svd
*.userprefs
*.pidb
*.suo
*.user
*.unityproj
*.booproj
*.~lock*
